#root {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  background: var(--color-background);
  color: var(--color-text);
  margin: 0;
  padding: 0;
  line-height: 1.6;
  box-sizing: border-box;
}

.layout {
  height: 100vh; /* высота экрана */
  max-width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 6rem;
  background-color: var(--color-surface);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  border-bottom: 1px solid var(--color-border);
}

nav {
  display: flex;
  width: 420px;
  gap: 2rem;
  justify-content: flex-end;
  align-items: center;
}

a {
  color: var(--color-text-link);
  text-decoration: none;
  transition: color 0.3s ease;
  cursor: pointer;
}

a:hover {
  color: var(--color-text-link-hover);
}

.auth-links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-top: 6rem; /* высота header */
  margin-bottom: 4rem; /* высота footer */
  min-height: calc(100vh - 6rem - 4rem); /* Учитываем высоту header и footer */
  padding: 1rem;
  box-sizing: border-box; /* Учитываем padding в размерах */
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4rem;
  background-color: var(--color-surface);
  color: var(--text-second-color);
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  border-top: 1px solid var(--color-border);
}

h1 {
  color: var(--color-primary-dark);
  font-size: 2rem;
}

h4 {
  color: var(--color-text-secondary);
  font-size: 1rem;
  font-weight: 600;
  margin: 0.5rem 0;
}

@media (max-width: 768px) {
  .header {
    padding: 0 1rem;
    height: 4rem; /* уменьшенная высота для мобильных устройств */
  }

  .footer {
    padding: 0 1rem;
    height: 3rem;
  }

  .main {
    padding: 1rem;
    margin-top: 4rem; /* высота header */
    margin-bottom: 3rem; /* высота footer */
    flex-direction: column;
  }

  nav {
    width: 240px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  .logo {
    font-size: 1rem;
  }

  a {
    font-size: 0.875rem;
    padding-right: 1rem;
  }
}
