:root {
  --primary: #5b21b6;
  --background: #f9eefa; /* light background */
  --text-color: #352c2d; /* dark text */
  --text-link: #5600a7;
  --text-second-color: #6b7280; /* gray text */
  --light-orange: #f59e0b; /* light orange */
  --dark-orange: #ea580c; /* dark orange */
  --background-secondary: #fae8fe;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--background);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-secondary);
  color: var(--text-color);
  padding: 1rem 2rem;
  text-align: center;
  border-bottom: 1px solid #d1d5db;
}

nav {
  display: flex;
  width: 420px;
  justify-content: space-around;
  align-items: center;
}

a {
  color: var(--text-link);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #8400ff;
}

footer {
  background-color: var(--background);
  color: var(--text-second-color);
  text-align: center;
  padding: 1rem;
}

h1 {
  color: var(--primary);
  font-size: 2rem;
}

.loginCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--background);
  border-radius: 8px;
  padding: 2rem;
  max-width: 400px;
  height: 300px;
  margin: auto;
}
