.container {
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 8px;
  height: 80%;
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.statusBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
  font-size: 1rem;
  color: #333;
}

.assignees {
  margin-top: 1.5rem;
}

.assignees ul {
  list-style: none;
  padding: 0;
}

.assignees li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  background-color: #f6f6f6;
  padding: 0.5rem;
  border-radius: 4px;
}

.removeBtn {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-orange-dark);
  font-size: 1.2rem;
}

.deleteBtn {
  display: flex;
  justify-content: flex-end;
}

.statusBtn {
  width: 240px;
  display: flex;
}
