:root {
  /* ---------------------- */
  /* 🎨 Основные цвета */
  /* ---------------------- */
  --color-primary: #a78bfa; /* мягкий фиолетовый */
  --color-primary-hover: #c084fc;
  --color-primary-dark: #5b21b6;

  --color-secondary: #fbcfe8; /* мягкий розовый */
  --color-secondary-hover: #f9a8d4;

  --color-accent: #fde68a; /* мягкий жёлтый */
  --color-accent-hover: #fef08a;

  /* ---------------------- */
  /* 🟠 Оранжевые акценты */
  /* ---------------------- */
  --color-orange-light: #ffe3af86;
  --color-orange-dark: #fd8718;

  /* ---------------------- */
  /* 🧱 Фоновые цвета */
  /* ---------------------- */
  --color-background: #f9f1fa; /* фон приложения */
  --color-background-secondary: #f2dafd; /* альтернативный фон (напр. секции) */
  --color-surface: #fae8fe; /* поверхности: карточки, модалки */
  --color-muted-bg: #edf0f7; /* альтернативный фон (напр. секции) */

  /* ---------------------- */
  /* ✍️ Цвета текста */
  /* ---------------------- */
  --color-text: #352c2d; /* основной тёмный текст */
  --color-text-dark: #331f37; /* тёмный текст (напр. на светлом фоне) */
  --color-text-light: #e8b4f8; /* светлый текст (напр. на тёмном фоне) */
  --color-text-link: #5600a7; /* цвет ссылок */
  --color-text-link-hover: #9139df; /* цвет ссылок при наведении */
  --color-text-secondary: #6b7280; /* вторичный текст */
  --color-text-muted: #9ca3af93; /* приглушённый текст */
  --color-text-inverse: #f4f8b4; /* инверсный текст (напр. на тёмном фоне) */
  --color-text-inverse-secondary: #ceabe2; /* вторичный инверсный текст */
  --color-placeholder: #9ca3af91; /* текст в полях ввода (placeholder) */

  /* ---------------------- */
  /* 📏 Границы и разделители */
  /* ---------------------- */
  --color-border: #e5e7eb;

  /* ---------------------- */
  /* ⚠️ Статусы */
  /* ---------------------- */
  --color-success: #c5fdd979;
  --color-warning: #fef3c7;
  --color-error: #fecaca;
  --color-info: #cbeffd79;

  /* ---------------------- */
  /* ❌ Ошибки / Danger */
  /* ---------------------- */
  --color-danger: #f55409;
  --color-danger-light: #db5b5b;
  --color-danger-hover: #fca5a1;

  /* ---------------------- */
  /* 🧊 Прозрачности */
  /* ---------------------- */
  --overlay-light: rgba(255, 255, 255, 0.6);
  --overlay-dark: rgba(0, 0, 0, 0.3);
  --overlay-violet: rgba(188, 167, 229, 0.3);
  --overlay-purple: rgba(188, 159, 245, 0.199);
}
