.radioWrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.5rem;
  color: var(--color-text);
  margin-bottom: 1rem;
}

.input {
  display: none;
}

.customRadio {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 2px solid var(--color-border);
  background-color: var(--color-surface);
  position: relative;
}

.input:checked + .customRadio::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 12px;
  height: 12px;
  background-color: var(--color-primary);
  border-radius: 50%;
}

.label {
  font-size: 0.9rem;
}
