.formGroup {
  height: auto;
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.label {
  text-align: center;
  font-size: 0.85rem;
  color: var(--color-text-secondary);
  margin-bottom: 1rem;
}

.error {
  font-size: 0.75rem;
  color: var(--color-error);
  margin-top: 0.3rem;
}
